extends layout.pug

block head
  title=title
  link(rel='stylesheet' href='/stylesheets/reset.css')
  link(rel='stylesheet' href='/stylesheets/bookshelves.css')

block content
    div(id="header")
        h1 My Mangas
    div
        button(id="add-button" type="submit") Add Bookshelf
    div(id="form")
        form(action="/bookshelves", method="post")
            label(for="name")
            input(type="text" name="name" id="add-bookshelf")
            button(type="submit" id="submit-button") add



    div
        ul(id="bookshelves-container")
            each bookshelf in bookshelves
                div(class="bookshelf-box")
                    li(id=`bookshelfName-${bookshelf.id}`)= bookshelf.name
                    button(id=bookshelf.id type="submit").edit-btn Edit Bookshelf
    div(id="bookshelf-display")
        ul(id="manga-list")
            each bookshelf in bookshelves
                div(id="manga-box")
                    each manga in bookshelf.Mangas
                        li= manga.title
    script(src='/javascripts/add-bookshelf.js' type='module')
    script(src='/javascripts/edit-bookshelf.js' type='module')
