extends layout.pug

block head
  title=title
  link(rel='stylesheet' href='/stylesheets/reset.css')
  link(rel='stylesheet' href='/stylesheets/bookshelves.css')

block content
    div(id="header")
        h1 My Mangas
    div
        button(id="add-button" type="submit") Add Bookshelf
    div(id="form")
        form(action="/bookshelves", method="post")
            input(type="hidden" name="_csrf" value=csrfToken)
            label(for="name")
            input(type="text" name="name" id="add-bookshelf")
            button(type="submit" id="submit-button") add



    div
        ul(class="bookshelves-container")
            each bookshelf in bookshelves
                div(class="bookshelf-box")
                    li= bookshelf.name


    script(src='/javascripts/add-bookshelf.js' type='module')
