extends layout

block head
    link(rel='stylesheet' href='/stylesheets/home.css')
    link(rel='stylesheet' href='/stylesheets/mangas.css')

block content
  div(class="error-message-div")
    h1(class="error-heading") 404 Not Found
    h2 Nothing to see here!
