extends layout.pug
block head
    link(rel='stylesheet' href='/stylesheets/home.css')
block content
    div(class="welcome")
        h1 Welcome to GoodMango!~
    script(src="/javascripts/video.js" type="module")
    body 
        video(class='video-container')
            link(rel='stylesheet' href='https://youtu.be/DZDtzFedckA')
