extends layout

append head
  link(rel="stylesheet" href="/stylesheets/index.css")
  script(src="/javascripts/index.js" type="module" defer)
  script(src="https://kit.fontawesome.com/f7a45a1aff.js" crossorigin="anonymous")

block content
  h1= title
  p Welcome to your Project Skeleton
