doctype html
html
  head
      block head
        title=title
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    nav(class='navbar')
      a(class='home' href='/') GoodMango
      a(class='mangas-button' href='/mangas') Browse Mangas
          //- span logo go here
      if locals.authenticated
          span(class='greeting') Welcome #{user.username}!
          form(class='logout-form' action='/users/logout' method='post')
            button(class='logout-button' type='submit') Logout
      else
          a(class='login-button' href='/users/login') Login
          a(class='signup-button' href='/users/signup') Sign Up
      block content
