doctype html
html
  head
      title=title
      link(rel='stylesheet' href='/stylesheets/reset.css')
      //- link(rel='stylesheet' href='/stylesheets/navbar.css')
      block head
  body
    nav(class='navbar')
      img(class="logo" src='../images/logo.png')
      a(class='home' href='/') GoodMango
      a(class='mangas-button' href='/mangas') Browse Mangas
      if locals.authenticated
        a(class='bookshelves-button' href='/bookshelves') My Mangas
        span(class="welcome-greeting") Welcome,
        span(class='greeting-name') #{user.username} !
        form(class='logout-form' action='/users/logout' method='post')
          button(class='logout-button' type='submit') logout
      else
          a(class='login-button' href='/users/login') Login
          a(class='signup-button' href='/users/signup') Sign Up
          //- a(id='demo-button' href='/users/login/demo') Demo
    block content
