doctype html
html
  head
      title=title
      link(rel='stylesheet' href='/stylesheets/reset.css')
      meta(name="title" property="og:title" content="GoodMango")
      meta(property="og:type" content="Website")
      meta(name="image" property="og:image" content="https://raw.githubusercontent.com/jdijaili/w13-goodMango-group-project/main/images/browse-manga.PNG")
      meta(name="description" property="og:description" content="A GoodReads clone for manga enthusiasts to browse manga, add them to their bookshelves, and leave reviews for manga.")
      meta(name="author" content="Andres Soca, Jennifer Dijaili, James Chen, Vivian Thach")
      block head
  body
    nav(class='navbar')
      img(class="logo" src='../images/logo.png')
      a(class='home' href='/') GoodMango
      a(class='mangas-button' href='/mangas') Browse Manga
      if locals.authenticated
        a(class='bookshelves-button' href='/bookshelves') My Manga
        span(class="welcome-greeting") Welcome,
        span(class='greeting-name') #{user.username} !
        form(class='logout-form' action='/users/logout' method='post')
          button(class='logout-button' type='submit') logout
      else
          a(class='login-button' href='/users/login') Login
          a(class='signup-button' href='/users/signup') Sign Up
    block content
