extends layout.pug

include utils.pug
block head
    link(rel='stylesheet' href='/stylesheets/user-forms.css')
block content
    +validationErrorSummary(errors)
    form(action="/users/signup" method="post" class="form-container")
        input(type='hidden' name='_csrf' value=csrfToken)
        h1(class="form-heading") Sign up for GoodMango
        +field('Username', 'username', user.username, placeholder="name")
        +field('Email', 'email', user.email, fieldtype='email', placeholder="you@yours.com")
        +field('Password', 'password', "", fieldtype='password')
        +field('Confirm Password', 'confirmPassword', "", fieldtype='password')
        div(class="form-button")
            button(type='submit') Submit
        div
            p: a(href='/users/login') Already have an account?
