body::-webkit-scrollbar {
    display: none;
  }

#form {
    display: none;
    text-align: center;
    align-content: center;
    margin-bottom: 3%;
}

.bookshelfLi {
    list-style: none;
}

html {
    background: url("../images/ANIMEBG.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

h1 {
    margin-top: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45pt;
    padding-top: 4%;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.274);
    padding-bottom: 4%;
    display: flex;
    justify-content: center;
    color: rgb(255, 94, 0);
}

h2 {
    font-size: 28pt;
    font-weight: bold;
    color: rgb(255, 94, 0);
    margin-top: 45px;
    border-bottom: black solid 1px;
}

.label {
    text-align: center;
    align-content: center;
}

#bookshelf-display {
    height: 100%;
    padding-left: 20%;
    padding-right: 20%;
}

.manga-container {
    background-color: rgba(245, 245, 245, 0.63);
    padding-top: 75px;
    padding-bottom: 45px;
    border: 2px rgb(248, 66, 0) solid;
}

.manga-box {
    list-style: none;
    padding-left: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#manga-image {
    box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.568);
    max-width: 130px;
    max-height: 180px;
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 20px;

}

.input-field {
    margin-top: 15px;
    margin-bottom: 15px;

}

.edit-btn {
    font-size: 10pt;
    color: white;
    background-color: red;
}

.edit-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.delete-button {
    font-size: 12pt;
    border: none;
    background: none;
}

.delete-btn {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-top: 0;
    padding-bottom: 25px;
    border: none;
    background: none;
}

.delete-btn:hover {
    color: rgba(245, 8, 8, 0.979);
}

.delete-button:hover {
    cursor: pointer;
    /* animation: shake 0.2s; */
}

.submit-btn {
    font-size: 12pt;
    border: none;
    background: none;
}

.submit-btn:hover {
    color: rgba(245, 8, 8, 0.979);
}

.Ximg {
    padding-left: 5px;
    height: 6%;
    width: 6%;
}

.XMangaimg {
    margin-top: 10px;
    height: 1%;
    width: 1%;
}

.manga-delete-btn {
    margin-top: 105px;
    font-size: 13pt;
    transition-duration: 0.3s;
}

.manga-delete-btn:hover {
    text-shadow: 0px 0px 3px #000000;
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.3s;
}

#manga-image:hover {
    animation: shake 0.3s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(248, 66, 0);
    font-size: 14.5pt;
    margin-left: 40px;
    margin-right: 40px;
    padding-right: 0;
    margin-top: 50px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#manga-year {
    min-width: 185px;
}

.title-label, .author-label, .year-label {
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.233);
    font-size: 16pt;
    margin-left: 40px;
    text-decoration: 2px underline;
}

#add-button {
    padding-bottom: 2.5%;
    border: none;
    background: none;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.37);
    font-size: 22pt;
    margin-left: 44.5%;
}

#add-button:hover {
    animation: shake 0.15s;
    cursor: pointer;
    color: rgb(248, 66, 0);
}

.newBookshelfDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#addShelf-text {
    margin-top: 20px;
    padding: 0px;
}

.cancelButtonDiv {
    display: flex;
    justify-content: center;
}

/* Media queries */

@media all and (orientation:portrait) {


  }

  @media all and (orientation:landscape) {

    html {
        background: url("../images/ANIMEBG.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
      }

  }

  @media screen and (min-width: 500px) and (max-height: 1210px) {
    #add-button {
        border: none;
        background: none;
        font-size: 22pt;
        margin-left: 41.5%;
    }
  }
