body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 100px;
  height: 100px;
}

.zoom-effect {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}

.video {
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px; */
    position: fixed;
    z-index: -99;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 50px;
    transition-duration: 1.5s;
}

.welcome:hover {
    transform: scale(2.0);
    transition-duration: 1.5s;
}

.welcome {
    /* text-shadow: 0 3px 3px rgb(0 0 0 / 55%);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px; */
    display: flex;
    justify-content: left;
}

.welcome-mango {
    margin: 0;
    width: 55px;
    height: 40px;
    padding-left: 15px;
}

body, html {
    height: 100%;
  }
