body::-webkit-scrollbar {
    display: none;
  }

.video {
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px; */
    position: fixed;
    z-index: -99;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 50px;
    transition-duration: 1.5s;
}

.welcome:hover {
    transform: scale(2.0);
    transition-duration: 1.5s;
}

.welcome {
    /* text-shadow: 0 3px 3px rgb(0 0 0 / 55%);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px; */
    display: flex;
    justify-content: left;
}

.welcome-mango {
    margin: 0;
    width: 55px;
    height: 40px;
    padding-left: 15px;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    height: 100%
  }




  /* // scrolling text animation */

  #scroll-container {
    overflow: hidden;
  }

  #scroll-text {
    color: rgb(214, 57, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50pt;
    font-weight: bolder;
    margin-top: 10px;
    text-align: right;
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 12s linear infinite;
    animation-iteration-count: 1;
  }

  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }

  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }

  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
