.welcome {
    display: flex;
    justify-content: center;
    margin-top: 500px;
    margin-bottom: 15px;
}

h1 {
    font-size: 50px;
    transition-duration: 1.5s;
}

h1:hover {
    transform: scale(2.0);
    transition-duration: 1.5s;
}
