body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  background: url("../images/ANIMEBG.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.manga-page {
  display: flex;
}

.genre-menu {
  position: absolute;
  left: 0px;
  background-color: grey;
  margin-top: 90px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.genre-block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.genre-block:hover {
  background-color: rgb(66, 66, 66);
}

.genre-block a {
  text-decoration: none;
}

.genre-block h3 {
  color: white;
}

.genre-header {
  font-weight: bold;
  font-size: 30px;
  color: orange;
  margin-left: 35px;
  margin-bottom: 25px;
}

.mangas-container {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  list-style-type: none;
  margin: 0 auto;
}

.manga-box li{
  margin-top: 30%;
  font-weight: bold;
  font-size: 12pt;
  color: default;
  padding-bottom: 15px;
  text-align: center;
}

.manga-box {
  margin-bottom: 50px;
}

.manga-box:hover {
  text-decoration: underline;
}

.manga-cover {
  box-shadow: 0px 0px 6.5px 2.5px rgba(0, 0, 0, 0.52);
  margin: auto;
  display: block;
  transition-duration: 0.3s;
  /* padding: 5px; */
  width: 250px;
  height: 400px;
}

.manga-cover:hover {
  transform: scale(1.05);
  transition-duration: 0.3s;
}

.genre-heading {
  margin-top: 80px;
  background-color: rgba(248, 66, 0, 0.856);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 30px;
}



/* Media queries */

@media all and (orientation:portrait) {

  .manga-box li{
    font-weight: bold;
    font-size: 11pt;
    color: default;
    padding-bottom: 15px;
    text-align: center;
  }

  .mangas-container {
    padding-top: 80px;
    padding-left: 2.2%;
    padding-right: 2.2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    list-style-type: none;
    margin: 0 auto;
  }

}

@media all and (orientation:landscape) {
  html {
    background: url("../images/ANIMEBG.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .manga-box li{
    font-weight: bold;
    font-size: 11.5pt;
    color: default;
    padding-bottom: 15px;
    text-align: center;
  }

  .mangas-container {
    padding-top: 80px;
    padding-left: 29.6%;
    padding-right: 29.6%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    list-style-type: none;
    margin: 0 auto;
  }

}

@media screen and (min-width: 500px) and (max-height: 1210px) {

  .manga-box li{
    font-weight: bold;
    font-size: 11pt;
    color: default;
    padding-bottom: 15px;
    text-align: center;
  }

  .mangas-container {
    padding-top: 80px;
    padding-left: 7%;
    padding-right: 7%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    list-style-type: none;
    margin: 0 auto;
  }

}

@media screen and (max-width: 1400px) {
  .genre-menu {
    display: none;
  }
}
