
.container {
  display: flex;
  justify-content: center;
  padding: 75px 150px;
}

.genre-label {
  font-weight: bold;
  padding-bottom: 10px;
}

.manga-cover {
  width: 400px;
  height: 550px;
  margin-right: 60px;
}

.details {
  padding-top: 25px;
}

.title {
  font-size: 50px;
}

.year-label, .author-label, .description-label {
  font-weight: bold;
}


.genreList ul {
  display: flex;
  list-style-type: none;
}

.genreList a {
  text-decoration: none;
}

.genreList li:hover {
  border-bottom-color: #2f6d50;
  transition: border-bottom-color .3s ease-out;
  transform: scaleX(1);
  transform-origin: left;
}

.genreList li {
  margin-right: 15px;
  border-bottom: 5px solid #409970;
}
