
.container {
  display: flex;
  justify-content: center;
  padding: 150px 200px;
  padding-left: 650px;
}

.genre-label {
  padding-top: 30px;
  padding-bottom: 10px;
}

.manga-cover {
  width: 400px;
  height: 625px;
  margin-right: 60px;
}

.details {
  padding-top: 25px;
}

.title {
  font-size: 50px;
}

.year-label, .author-label, .description-label .genre-label{
  font-weight: bold;
}


.genreList ul {
  display: flex;
  list-style-type: none;
}

.genreList a {
  text-decoration: none;
}

.genreList li {
  margin-right: 15px;
  border-bottom: 3.5px solid #409970;
}

.genreList li:hover {
  transform: scale(1.05);
  border-bottom: 5.2px solid #409970;
}

.description {
  padding-left: 25px;
  padding-right: 360px;
}
